@import "../../styles/mixins/utils";
@import "../../styles/variables/colors";
@import "../../styles/variables/fonts";

.activity {
  @include flex_container(column);
  @include size(100vh, 100vw);
  font-family: $primary_font;
  img {
    width: 50%;
    height: 300px;
    object-fit: cover;
  }
  .text {
    color: $font_color;
    padding: 20px;
  }
}
