@import "../../styles/mixins/utils";
@import "../../styles/variables/colors";
@import "../../styles/variables/fonts";

.activity {
  @include flex_container(column);
  @include size(100vh, 100vw);
  font-family: $primary_font;
  color: $font_color;

  .text {
    padding: 20px;
  }
}
